@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1px;
  font-style: normal;
}

.logo {
  background-color: #ff7800;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.logo h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #1c852f;
}

.logo p {
  font-size: 50px;
  margin: 0px 0px 10px 0px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #91d624;
  height: 100px;
  gap: 20px;
}

.form-input {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background-color: #aeee49;
  text-align: center;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
}

.btn {
  user-select: none;
}

.btn:active {
  transform: scale(1.02);
}

.grocery-list {
  background-color: #ed7855;
  min-height: calc(100vh - 300px);
  max-height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.items {
  padding: 50px 50px 50px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  row-gap: 60px;
  font-size: 1.3rem;
  text-align: start;

  margin: 0;
  list-style: none;
}

.items li p {
  margin: 0;
}

.items li {
  display: flex;
  gap: 15px;
}

.items input {
  transform: scale(1.5);
  accent-color: #f14814;
}

.items span {
  user-select: none;
}

.items span:active {
  transform: scale(1.1);
}

.action{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sort{
  height: 50px;
  width: 200px;
  border-radius: 30px;
  border: 0;
  background-color: #ee5a2d;
  text-align: center;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
}

.clear{
  height: 50px;
  width: 130px;
  border-radius: 30px;
  border: 0;
  background-color: #ee5a2d;
  text-align: center;
  font-size: 17px;
  font-family: "Nunito", sans-serif;

}

.footer {
  background-color: #129a8b;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}
